:root {
  --dark-bg: #1a1a1a; /* Lightened from #121212 to a slightly lighter dark shade */
  --darker-bg: #141414; /* Adjusted to a less intense dark for differentiation */
  --lighter-gray: #404040; /* Lighter gray for more visible contrast */
  --dark-gray: #2c2c2c; /* Less intense dark gray for improved readability */
  --font-color: #f0f0f0; /* A brighter shade of white for better readability */
  --accent-color: #5aa9e6; /* A lighter, more vibrant blue for accent elements */
  --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--dark-bg);
  color: var(--font-color);
  font-family: var(--font-family);
}

.card,
.modal-content,
.form-control,
.form-select {
  background-color: var(--darker-bg);
  color: var(--font-color);
  border: 1px solid var(--lighter-gray);
  text-align: center;
}

.card-header,
.table-dark thead th {
  background-color: var(--dark-gray);
  color: var(--font-color);
  text-align: center;
}

.table-dark {
  border-collapse: separate;
  border-spacing: 0;
}

.table-dark tbody tr:nth-of-type(odd) {
  background-color: var(--darker-bg);
}

.table-dark tbody tr:nth-of-type(even),
.table-dark tbody tr:hover {
  background-color: var(--lighter-gray);
}

.btn-custom,
.btn-primary,
.custom-dark-button {
  background-color: var(--accent-color);
  border: none;
  color: var(--font-color);
}

.btn-custom:hover,
.btn-primary:hover,
.custom-dark-button:hover {
  background-color: lighten(var(--accent-color), 10%);
}

/* Ensure all modals have a uniform dark theme */
.modal-dark,
.dark-modal,
.custom-modal {
  background-color: var(--darker-bg);
  color: var(--font-color);
}

.modal-dark .modal-header,
.modal-dark-header,
.modal-dark-header_ExpenseForm {
  background-color: var(--dark-gray);
  color: var(--font-color);
}

/* Uniform font and hover styles across the application */
h2,
.modal-title {
  font-size: 1.5rem;
  color: var(--font-color);
}

.form-label,
.modal-content {
  color: var(--font-color);
}

/* General adjustments for layout and readability */
#truck-details-tabs,
#truck-details-tabs .nav-link {
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem;
  margin-top: -20px;
  margin-bottom: 10px;
}
